*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(5deg, #a618f8, #00f2fe);
    height: 100vh;
    overflow: hidden;
}

div{
    width: 90%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgba(0, 0, 0, 0.717);
    border-radius: 10px;
    padding: 10px 15px;
    margin: 300px auto;
}

input{
    background: inherit;
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    color: black;
    font-size: 24px;
}

img{
    width: 35px;
    cursor: pointer;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.655);
}